<%- include('./partial/header') %>
    
    

<div class="main-content">
            <header>
                   <h2> 
                    <label for="nav-toggle">
                        <span class="las la-bars">
                    </span></label>
              Dashboard
            </h2>
           
            <div class="user-wrapper">
                <img src="/img/avatar.svg" height="50" width="50" alt="">
                <div>

  <h4 id="user_name">John Doe</h4>
                <small id="user_role"> Administrator</small>
                </div>
              
            </div>
        
            </header>
         
        <main>
          <div class="breadcrumb">
<span> Corner Shop Management </span>
<span>All Corner Shop Owner</span>
<span id="current">Edit Corner Shop User</span>

                    </div>
                <div>
               <span class="exit" onclick=back()><i class="las la-long-arrow-alt-left"></i></span>
            </div >
          <div class="recent-grid">
              <div class="projects">
                  <div class="card">
                        <div class="card-header">
                            <div>
                                <h3>Edit Corner Shop User</h3>
                               
                            </div>
                        
                        
 
                  </div>
                <form id="form">
                    <div class="form-row">
 <label for="">Operator Name</label>
                   <input id="name" value="<%=body[0].fullname%>" required type="text">
                    </div>

                     <div class="form-row">
 <label for="">Username</label>
                   <input id="username" value="<%=body[0].username%>" required type="text">
                    </div>

                                               <div class="form-row">
 <label for="">Shop Name</label>
                   <input id="shop_name" value="<%=body[0].shop_name%>" required type="text">
                    </div>
                      <div class="form-row">
 <label for="">Number Of Shop(s)</label>
                   <input id="no_shop" value="<%=body[0].no_shop%>"  type="text">
                    </div>
                  <div class="form-row">
 <label for="">Telephone</label>
                   <input id="telephone" value="<%=body[0].telephone%>"  type="text">
                    </div>
                      <div class="form-row">
 <label for="">Password</label>
                   <input id="password"  type="text">
                    </div>
                      
               <div class="form-row">
                 <label for="">Status Of User</label>
                 <select id="status">
                <option value="<%=body[0].status%>" selected disabled>
                                                 <%if (body[0].status=="InActive" ){%>
                                Deactivated <%}%> <% if
                                (body[0].status=="Active" ){%> Activated <%}%>
                              </option>
                              <option value="InActive">Deactivate</option>

                              <option value="Active">Activate</option>
                 </select>
               </div>   
                <div class="form-row">
                 <label for="">Drive Number</label>
                 <select id="driveNo">
                <option value="<%=body[0].driveNo%>" selected disabled>

                                <%=body[0].driveNo%> 
                              </option>
                              <option value="1">1</option>

                              <option value="2">2</option>
                               <option value="3">3</option>

                              <option value="4">4</option>
                               <option value="5">5</option>

                              <option value="6">6</option>
                 </select>
               </div>     
                 
                        <button onclick="load() " id="submit">
                            <span id="text">Update</span>
                        </button>
                   
                </form>
              </div>
             
          </div>
            <div id="snackbar">
      
           </div>
        </main>
        
        
    </div>
   
    </div>
      
</body>
    <script>
       function back() {
        history.back(-1)
      }
      window.addEventListener("load",()=>{
    let xhr = new XMLHttpRequest();
      let user_name=document.getElementById("user_name")   
let user_role=document.getElementById("user_role")
          xhr.onload = () => {
              let data=JSON.parse(xhr.responseText)
       
user_name.textContent=data[0].fullname

         };

        xhr.open("get", `/api/user`, true);
        xhr.send(); 
         

 })
      function load() {
        let snackBar=document.getElementById("snackbar")
        let text=document.getElementById("text")
        let btn = document.getElementById("submit");
        let form=document.getElementById("form")
        form.addEventListener("submit",(e)=>{
        e.preventDefault()
        btn.classList.add("loading")
        btn.disabled=true
        text.style.visibility="hidden"
   })        
   let obj = {
          driveNo: document.getElementById("driveNo"),
          telephone: document.getElementById("telephone"),
          name: document.getElementById("name"),
          username: document.getElementById("username"),
          shop_name: document.getElementById("shop_name"),
          password:document.getElementById("password"),
          status:document.getElementById("status"),
          no_shop:document.getElementById("no_shop")
        };

        let requestObj =
          "password=" +
          obj.password.value +
          "&telephone=" +
          obj.telephone.value +
          "&name=" +
          obj.name.value +
          "&username=" +
          obj.username.value +
           "&driveNo=" +
          obj.driveNo.value +
            "&no_shop=" +
          obj.no_shop.value +
           "&status=" +
          obj.status.value +
          "&shop_name="+obj.shop_name.value;
        let xhr = new XMLHttpRequest();

        xhr.onload = () => {
         btn.disabled=false
          snackBar.innerText = ` ${xhr.responseText}`
          text.style.visibility="visible"
          snackBar.className="show"
                btn.classList.remove("loading")
                setTimeout(()=>{
                    snackBar.className=snackBar.className.replace("show","")

                },3000)  
        

        };

        xhr.open("post", `/admin/business/edit/<%=body[0].userId%>`, true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.send(requestObj);
      }
    </script>
  </body>
</html>
