<%- include('./partial/header') %>
   
<div class="bg-gray-100 mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24 shadow-xl mb-24">
    <section class="py-8 relative">
        <a href="#" onclick=back() class="nav__link absolute left-0">
       <i class="material-icons nav__icon">arrow_back</i>
       <span class="nav__text font-body">Back</span>
     </a>
               <h3 class="text-center font-bold text-lg">Add Domestic Staff</h3>
             </section>
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="company">
                            Full Name*
                        </label>
                        <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="fullname" type="text" value="<%=body[0].fullname%>" name="fullname"
                            placeholder="Full Name">
                        <div>
                            <span class="text-red-500 text-xs italic">
                                Please fill out this field.
                            </span>
                        </div>
                    </div>
                    <div class="md:w-1/2 px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                            Telephone Number*
                        </label>
                        <input name="telephone"
                            class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="telephone" type="tel" value="<%=body[0].telephone%>" placeholder="+234.....">
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-full px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="application-link">
                            Home Address *
                        </label>
                        <input name="address"
                            class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="address" type="text" placeholder="" value="<%=body[0].address%>">
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-2">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="location">
                            Location *
                        </label>
                        <div>
                            <select
                                class="w-full bg-gray-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded"
                                id="location" name="location">
                                <option selected>
                                    <%=body[0].location%>
                                </option>
                                <option value="Abia">Abia</option>
                                <option value="Adamawa">Adamawa</option>
                                <option value="Akwa Ibom">Akwa Ibom</option>
                                 <option value="Anambra">Anambra</option>
                                <option value="Bauchi">Bauchi</option>
                                <option value="Bayelsa">Bayelsa</option>
                                 <option value="Benue">Benue</option>
                                <option value="Borno">Borno</option>
                                <option value="Cross River">Cross River</option>
                                 <option value="Delta">Delta</option>
                                <option value="Ebonyi">Ebonyi</option>
                                <option value="Edo">Edo</option>
                                 <option value="Ekiti">Ekiti</option>
                                <option value="Enugu">Enugu</option>
                                <option value="Gombe">Gombe</option>
                                 <option value="IMO">IMO</option>
                                <option value="Jigawa">Jigawa</option>
                                <option value="Kaduna">Kaduna</option>
                                 <option value="Kano">Kano</option>
                                <option value="Kastina">Kastina</option>
                                <option value="Kebbi">Kebbi</option>
                                 <option value="Kogi">Kogi</option>
                                <option value="Kwara">Kwara</option>
                                <option value="Lagos">Lagos</option>
                                 <option value="Nasarawa">Nasarawa</option>
                                <option value="Niger">Niger</option>
                                <option value="Ogun">Ogun</option>
                                 <option value="Ondo">Ondo</option>
                                <option value="Osun">Osun</option>
                                <option value="Oyo">Oyo</option>
                                 <option value="Plateau">Plateau</option>
                                <option value="Rivers">Rivers</option>
                                <option value="Sokoto">Sokoto</option>
                                 <option value="Taraba">Taraba</option>
                                <option value="Yobe">Yobe</option>
                                <option value="Zamfara">Zamfara</option>
                                <option value="FCT">FCT</option>
                            </select>
                        </div>
                    </div>
                    <div class="md:w-1/2 px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="job-type">
                            Job Type*
                        </label>
                        <div>
                            <select
                                class="w-full bg-gray-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded"
                                id="jobType" name="job-type">
                                <option disabled selected>
                                    <%=body[0].jobType%>
                                </option>
                                <option>Full-Time</option>
                                <option>Part-Time</option>


                            </select>
                        </div>
                    </div>
                    <div class="md:w-1/2 px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="department">
                            Job Department*
                        </label>
                        <div>
                            <select
                                class="w-full bg-gray-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded"
                                id="department">
                                <option selected disabled>
                                    <%=body[0].department%>
                                </option>
                               <option value="cook">Cook</option>
                                <option value="Cleaner">Cleaner</option>
                                <option value="Driver">Driver</option>
                                <option value="Nanny">Nanny</option>
                                <option value="Security Man">Security Man</option>
                                <option value="Baby Sitter">Baby Sitter</option>
                                <option value="Laundry">Laundry </option>
                                <option value="House Keeper">House Keeper</option>
                                <option value="Others">Others</option>


                            </select>
                        </div>
                    </div>
                </div>
                <div class="-mx-3 md:flex mt-2">
                    <button
                id="submit"
                type="submit"
                onclick="load()"
                class="md:w-full bg-gray-900 text-white font-bold py-2 px-4 relative    hover:border-gray-100  cursor-pointer"
              >
                <span class="text">Update </span>
              </button>
                </div>
            </div>


            <h4 id="matchlist" class="text-green font-bold py-2 px-4 ">

            </h4>
        </div>
    </body>
    <script>

function back() {
               history.back(-1)
            }

        function load() {
            let btn = document.getElementById("submit")

            let newPost = document.getElementById("matchlist")
            let obj = {
                fullname: document.getElementById("fullname"),
                telephone: document.getElementById("telephone"),
                address: document.getElementById("address"),
                location: document.getElementById("location"),
                jobType: document.getElementById("jobType"),
                department: document.getElementById("department")
            }

            let requestObj = "fullname=" + obj.fullname.value + "&telephone=" + obj.telephone.value + "&address=" + obj.address.value + "&location=" + obj.location.value + "&jobType=" + obj.jobType.value + "&department=" + obj.department.value

            let xhr = new XMLHttpRequest()

            xhr.onload = () => {
                alert(xhr.responseText)
                obj.fullname.value = "";
                obj.telephone.value = "";
                obj.address.value = "";
                obj.location.value = "";
                obj.jobType.value = "";
                obj.department.value = "";
                newPost.innerText = ` ${xhr.responseText}`
                
            }

            xhr.open("post", "/resident/update/domestic/<%=body[0].DomId%>", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(
                requestObj
            )

        }



    </script>

</html>