<%- include('./partial/header'); %>
      <section class="py-8">
      
      </section>
      <a
        href="/add/deposit"
        class="md:w-full bg-gray-900 text-white font-bold py-2 px-4  rounded"
        >Record Payment</a
      >
        <table class=" mt-5 shadow-lg bg-white">
        <tr>
          <th class="bg-blue-100 border text-center px-4 py-2">S/N</th>
         
          <th class="bg-blue-100 border text-left px-4 py-2">Payee</th>
          <th class="bg-blue-100 border text-left px-4 py-2">Amount</th>
          <th class="bg-blue-100 border text-left px-4 py-2">
            Teller No/Receipt No
          </th>
          <th class="bg-blue-100 border text-left px-4 py-2">Ref No</th>
          <th class="bg-blue-100 border text-left px-4 py-2">Date Payed</th>
          <th class="bg-blue-100 border text-left px-4 py-2">Status</th>

        </tr>

        <% if (body){%> <% for (let i=0; i < body.length; i++){%>
        <tr>
          <td class="border px-8 py-4"><%=(i +1)%></td>



          <td class="border px-4 py-4"><%=body[i].payee%></td>
          <td class="border px-4 py-4"><%=body[i].amount%></td>
          <td class="border px-4 py-4"><%=body[i].receipt%></td>
            <td class="border px-4 py-4"><%=body[i].telephone%></td>
          
          <td class="border px-4 py-4"><%=body[i].deposit_date%></td>
          <td class="border px-4 py-4"><%=body[i].status%></td>
          
        </tr>
        <% } %> <% } %>
      </table>
    </main>
  </body>
</html>
